language: emacs-lisp
env:
  - EVM_EMACS=emacs-26.1-travis
  - EVM_EMACS=emacs-git-snapshot-travis

install:
  - sudo apt-get update
  - sudo apt-get install sqlite3
  - git clone https://github.com/rejeep/evm.git $HOME/.evm
  - export PATH=$HOME/.evm/bin:$HOME/.cask/bin:$PATH

  - evm config path /tmp
  - evm install $EVM_EMACS --use --skip
  - curl -fsSkL https://raw.githubusercontent.com/cask/cask/master/go | python
  - cask install

script:
  - sqlite3 --version
  - cask build 
  - cask exec ert-runner emacsql-sqlite3-test.el
